# coding=utf-8
# --------------------------------------------------------------------------
#
# MIT License
#
# Copyright (c) 2022 KuFlow
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to deal
# in the Software without restriction, including without limitation the rights
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
# copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.
#
# --------------------------------------------------------------------------
#
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
#
# --------------------------------------------------------------------------
from collections.abc import MutableMapping
from io import IOBase
from typing import Any, Callable, IO, Iterator, Optional, TypeVar, Union, overload

from azure.core import PipelineClient
from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    ResourceNotModifiedError,
    StreamClosedError,
    StreamConsumedError,
    map_error,
)
from azure.core.pipeline import PipelineResponse
from azure.core.rest import HttpRequest, HttpResponse
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict

from .. import models as _models
from .._configuration import KuFlowRestClientConfiguration
from .._utils.serialization import Deserializer, Serializer

T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_find_business_artifacts_request(
    *,
    size: int = 25,
    page: int = 0,
    sort: Optional[list[str]] = None,
    tenant_id: Optional[list[str]] = None,
    business_artifact_definition_id: Optional[list[str]] = None,
    business_artifact_definition_code: Optional[list[str]] = None,
    value: Optional[list[str]] = None,
    **kwargs: Any,
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts"

    # Construct parameters
    if size is not None:
        _params["size"] = _SERIALIZER.query("size", size, "int", maximum=1000, minimum=0)
    if page is not None:
        _params["page"] = _SERIALIZER.query("page", page, "int", minimum=0)
    if sort is not None:
        _params["sort"] = [_SERIALIZER.query("sort", q, "str") if q is not None else "" for q in sort]
    if tenant_id is not None:
        _params["tenantId"] = [_SERIALIZER.query("tenant_id", q, "str") if q is not None else "" for q in tenant_id]
    if business_artifact_definition_id is not None:
        _params["businessArtifactDefinitionId"] = [
            _SERIALIZER.query("business_artifact_definition_id", q, "str") if q is not None else ""
            for q in business_artifact_definition_id
        ]
    if business_artifact_definition_code is not None:
        _params["businessArtifactDefinitionCode"] = [
            _SERIALIZER.query("business_artifact_definition_code", q, "str") if q is not None else ""
            for q in business_artifact_definition_code
        ]
    if value is not None:
        _params["value"] = [
            _SERIALIZER.query("value", q, "str", pattern=r"^\S+ (eq|le|ge|between|contains|in) \S+( \S+)*$")
            if q is not None
            else ""
            for q in value
        ]

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_create_business_artifact_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts"

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, **kwargs)


def build_retrieve_business_artifact_request(id: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, headers=_headers, **kwargs)


def build_delete_business_artifact_request(id: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="DELETE", url=_url, headers=_headers, **kwargs)


def build_update_business_artifact_data_request(  # pylint: disable=name-too-long
    id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/data"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PUT", url=_url, headers=_headers, **kwargs)


def build_patch_business_artifact_data_request(  # pylint: disable=name-too-long
    id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/data"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PATCH", url=_url, headers=_headers, **kwargs)


def build_create_business_artifact_action_request(  # pylint: disable=name-too-long
    id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/actions"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, **kwargs)


def build_retrieve_business_artifact_action_request(  # pylint: disable=name-too-long
    id: str, action_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/actions/{actionId}"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
        "actionId": _SERIALIZER.url("action_id", action_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, headers=_headers, **kwargs)


def build_cancel_business_artifact_action_request(  # pylint: disable=name-too-long
    id: str, action_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/actions/{actionId}/~actions/cancel"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
        "actionId": _SERIALIZER.url("action_id", action_id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, **kwargs)


def build_prepare_business_artifact_create_artifact_request(  # pylint: disable=name-too-long
    id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/~actions/prepare-create-artifact"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, headers=_headers, **kwargs)


def build_upload_business_artifact_document_request(  # pylint: disable=name-too-long
    id: str, *, file_content_type: str, file_name: str, content: IO[bytes], **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/~actions/upload-document"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["fileContentType"] = _SERIALIZER.query("file_content_type", file_content_type, "str")
    _params["fileName"] = _SERIALIZER.query("file_name", file_name, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, content=content, **kwargs)


def build_download_business_artifact_document_request(  # pylint: disable=name-too-long
    id: str, *, document_uri: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    accept = _headers.pop("Accept", "application/octet-stream, application/json")

    # Construct URL
    _url = "/business-artifacts/{id}/~actions/download-document"
    path_format_arguments = {
        "id": _SERIALIZER.url("id", id, "str"),
    }

    _url: str = _url.format(**path_format_arguments)  # type: ignore

    # Construct parameters
    _params["documentUri"] = _SERIALIZER.query("document_uri", document_uri, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class BusinessArtifactOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~kuflow.rest.KuFlowRestClient`'s
        :attr:`business_artifact` attribute.
    """

    models = _models

    def __init__(self, *args, **kwargs) -> None:
        input_args = list(args)
        self._client: PipelineClient = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config: KuFlowRestClientConfiguration = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize: Serializer = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize: Deserializer = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @distributed_trace
    def find_business_artifacts(
        self,
        *,
        size: int = 25,
        page: int = 0,
        sort: Optional[list[str]] = None,
        tenant_id: Optional[list[str]] = None,
        business_artifact_definition_id: Optional[list[str]] = None,
        business_artifact_definition_code: Optional[list[str]] = None,
        value: Optional[list[str]] = None,
        **kwargs: Any,
    ) -> _models.BusinessArtifactPage:
        """Find all accessible Business Artifacts.

        List all the Business Artifacts that have been created and the credentials has access.

        Available sort query values: id, createdAt, lastModifiedAt.

        :keyword size: The number of records returned within a single API call. Default value is 25.
        :paramtype size: int
        :keyword page: The page number of the current page in the returned records, 0 is the first
         page. Default value is 0.
        :paramtype page: int
        :keyword sort: Sorting criteria in the format: property{,asc|desc}. Example: createdAt,desc

         Default sort order is ascending. Multiple sort criteria are supported.

         Please refer to the method description for supported properties. Default value is None.
        :paramtype sort: list[str]
        :keyword tenant_id: Filter by tenantId. Default value is None.
        :paramtype tenant_id: list[str]
        :keyword business_artifact_definition_id: Filter by an array of business artifact definition
         ids. Default value is None.
        :paramtype business_artifact_definition_id: list[str]
        :keyword business_artifact_definition_code: Filter by an array of business artifact definition
         codes. Default value is None.
        :paramtype business_artifact_definition_code: list[str]
        :keyword value: Filter by indexed field values. Each value is an expression with the format
         ``fieldCode operation value1 value2...`` (space-separated).

         Supported operations: ``eq``\\ , ``le``\\ , ``ge``\\ , ``between``\\ , ``contains``\\ ,
         ``in``. Default value is None.
        :paramtype value: list[str]
        :return: BusinessArtifactPage
        :rtype: ~kuflow.rest.models.BusinessArtifactPage
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[_models.BusinessArtifactPage] = kwargs.pop("cls", None)

        _request = build_find_business_artifacts_request(
            size=size,
            page=page,
            sort=sort,
            tenant_id=tenant_id,
            business_artifact_definition_id=business_artifact_definition_id,
            business_artifact_definition_code=business_artifact_definition_code,
            value=value,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifactPage", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def create_business_artifact(
        self,
        business_artifact_create_params: _models.BusinessArtifactCreateParams,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifact:
        """Create a new Business Artifact.

        Creates a Business Artifact.

        If you want the method to be idempotent, please specify the ``id`` field in the request body.

        :param business_artifact_create_params: Business Artifact to create. Required.
        :type business_artifact_create_params: ~kuflow.rest.models.BusinessArtifactCreateParams
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def create_business_artifact(
        self, business_artifact_create_params: IO[bytes], *, content_type: str = "application/json", **kwargs: Any
    ) -> _models.BusinessArtifact:
        """Create a new Business Artifact.

        Creates a Business Artifact.

        If you want the method to be idempotent, please specify the ``id`` field in the request body.

        :param business_artifact_create_params: Business Artifact to create. Required.
        :type business_artifact_create_params: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def create_business_artifact(
        self, business_artifact_create_params: Union[_models.BusinessArtifactCreateParams, IO[bytes]], **kwargs: Any
    ) -> _models.BusinessArtifact:
        """Create a new Business Artifact.

        Creates a Business Artifact.

        If you want the method to be idempotent, please specify the ``id`` field in the request body.

        :param business_artifact_create_params: Business Artifact to create. Is either a
         BusinessArtifactCreateParams type or a IO[bytes] type. Required.
        :type business_artifact_create_params: ~kuflow.rest.models.BusinessArtifactCreateParams or
         IO[bytes]
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.BusinessArtifact] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(business_artifact_create_params, (IOBase, bytes)):
            _content = business_artifact_create_params
        else:
            _json = self._serialize.body(business_artifact_create_params, "BusinessArtifactCreateParams")

        _request = build_create_business_artifact_request(
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifact", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @distributed_trace
    def retrieve_business_artifact(self, id: str, **kwargs: Any) -> _models.BusinessArtifact:
        """Get a Business Artifact by ID.

        Returns the requested Business Artifact when has access to do it.

        :param id: The resource ID. Required.
        :type id: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[_models.BusinessArtifact] = kwargs.pop("cls", None)

        _request = build_retrieve_business_artifact_request(
            id=id,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifact", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @distributed_trace
    def delete_business_artifact(  # pylint: disable=inconsistent-return-statements
        self, id: str, **kwargs: Any
    ) -> None:
        """Delete a Business Artifact by ID.

        Deletes the requested Business Artifact.

        :param id: The resource ID. Required.
        :type id: str
        :return: None
        :rtype: None
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[None] = kwargs.pop("cls", None)

        _request = build_delete_business_artifact_request(
            id=id,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [204]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        if cls:
            return cls(pipeline_response, None, {})  # type: ignore

    @overload
    def update_business_artifact_data(
        self,
        id: str,
        business_artifact_data_update_params: _models.BusinessArtifactDataUpdateParams,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifact:
        """Save JSON data.

        Allow to save a JSON data validating that the data follow the related schema. If the data is
        invalid, then the json is marked as invalid.

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_data_update_params: Params used to update the JSON value. Required.
        :type business_artifact_data_update_params:
         ~kuflow.rest.models.BusinessArtifactDataUpdateParams
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def update_business_artifact_data(
        self,
        id: str,
        business_artifact_data_update_params: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifact:
        """Save JSON data.

        Allow to save a JSON data validating that the data follow the related schema. If the data is
        invalid, then the json is marked as invalid.

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_data_update_params: Params used to update the JSON value. Required.
        :type business_artifact_data_update_params: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def update_business_artifact_data(
        self,
        id: str,
        business_artifact_data_update_params: Union[_models.BusinessArtifactDataUpdateParams, IO[bytes]],
        **kwargs: Any,
    ) -> _models.BusinessArtifact:
        """Save JSON data.

        Allow to save a JSON data validating that the data follow the related schema. If the data is
        invalid, then the json is marked as invalid.

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_data_update_params: Params used to update the JSON value. Is either a
         BusinessArtifactDataUpdateParams type or a IO[bytes] type. Required.
        :type business_artifact_data_update_params:
         ~kuflow.rest.models.BusinessArtifactDataUpdateParams or IO[bytes]
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.BusinessArtifact] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(business_artifact_data_update_params, (IOBase, bytes)):
            _content = business_artifact_data_update_params
        else:
            _json = self._serialize.body(business_artifact_data_update_params, "BusinessArtifactDataUpdateParams")

        _request = build_update_business_artifact_data_request(
            id=id,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifact", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def patch_business_artifact_data(
        self,
        id: str,
        json_patch: list[_models.JsonPatchOperation],
        *,
        content_type: str = "application/json-patch+json",
        **kwargs: Any,
    ) -> _models.BusinessArtifact:
        """Patch JSON data.

        Allow to patch a JSON data validating that the data follow the related schema. If the data is
        invalid, then the json is marked as invalid.

        :param id: The resource ID. Required.
        :type id: str
        :param json_patch: Params to save the JSON value. Required.
        :type json_patch: list[~kuflow.rest.models.JsonPatchOperation]
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json-patch+json".
        :paramtype content_type: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def patch_business_artifact_data(
        self, id: str, json_patch: IO[bytes], *, content_type: str = "application/json-patch+json", **kwargs: Any
    ) -> _models.BusinessArtifact:
        """Patch JSON data.

        Allow to patch a JSON data validating that the data follow the related schema. If the data is
        invalid, then the json is marked as invalid.

        :param id: The resource ID. Required.
        :type id: str
        :param json_patch: Params to save the JSON value. Required.
        :type json_patch: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json-patch+json".
        :paramtype content_type: str
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def patch_business_artifact_data(
        self, id: str, json_patch: Union[list[_models.JsonPatchOperation], IO[bytes]], **kwargs: Any
    ) -> _models.BusinessArtifact:
        """Patch JSON data.

        Allow to patch a JSON data validating that the data follow the related schema. If the data is
        invalid, then the json is marked as invalid.

        :param id: The resource ID. Required.
        :type id: str
        :param json_patch: Params to save the JSON value. Is either a [JsonPatchOperation] type or a
         IO[bytes] type. Required.
        :type json_patch: list[~kuflow.rest.models.JsonPatchOperation] or IO[bytes]
        :return: BusinessArtifact
        :rtype: ~kuflow.rest.models.BusinessArtifact
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.BusinessArtifact] = kwargs.pop("cls", None)

        content_type = content_type or "application/json-patch+json"
        _json = None
        _content = None
        if isinstance(json_patch, (IOBase, bytes)):
            _content = json_patch
        else:
            _json = self._serialize.body(json_patch, "[JsonPatchOperation]")

        _request = build_patch_business_artifact_data_request(
            id=id,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifact", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def create_business_artifact_action(
        self,
        id: str,
        business_artifact_action_create_params: _models.BusinessArtifactActionCreateParams,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifactAction:
        """Invoke a Business Artifact action.

        Invoke an action on a Business Artifact.

        Whether the call returns synchronously or asynchronously depends on the action type:


        * ``START_WORKFLOW``\\ , ``DOWNLOADABLE``\\ : dispatched to a background worker. The
          response returns immediately with ``status=REQUESTED``. Poll
          ``retrieveBusinessArtifactAction`` for the final state.
        * ``START_PROCESS``\\ , ``CREATE_BUSINESS_ARTIFACT``\\ : completed synchronously. The
          response returns with ``status=COMPLETED`` (or an error status).

        If you want the method to be idempotent, please specify the ``id`` field in the request body.

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_action_create_params: Params identifying the action to invoke.
         Required.
        :type business_artifact_action_create_params:
         ~kuflow.rest.models.BusinessArtifactActionCreateParams
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifactAction
        :rtype: ~kuflow.rest.models.BusinessArtifactAction
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def create_business_artifact_action(
        self,
        id: str,
        business_artifact_action_create_params: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifactAction:
        """Invoke a Business Artifact action.

        Invoke an action on a Business Artifact.

        Whether the call returns synchronously or asynchronously depends on the action type:


        * ``START_WORKFLOW``\\ , ``DOWNLOADABLE``\\ : dispatched to a background worker. The
          response returns immediately with ``status=REQUESTED``. Poll
          ``retrieveBusinessArtifactAction`` for the final state.
        * ``START_PROCESS``\\ , ``CREATE_BUSINESS_ARTIFACT``\\ : completed synchronously. The
          response returns with ``status=COMPLETED`` (or an error status).

        If you want the method to be idempotent, please specify the ``id`` field in the request body.

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_action_create_params: Params identifying the action to invoke.
         Required.
        :type business_artifact_action_create_params: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifactAction
        :rtype: ~kuflow.rest.models.BusinessArtifactAction
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def create_business_artifact_action(
        self,
        id: str,
        business_artifact_action_create_params: Union[_models.BusinessArtifactActionCreateParams, IO[bytes]],
        **kwargs: Any,
    ) -> _models.BusinessArtifactAction:
        """Invoke a Business Artifact action.

        Invoke an action on a Business Artifact.

        Whether the call returns synchronously or asynchronously depends on the action type:


        * ``START_WORKFLOW``\\ , ``DOWNLOADABLE``\\ : dispatched to a background worker. The
          response returns immediately with ``status=REQUESTED``. Poll
          ``retrieveBusinessArtifactAction`` for the final state.
        * ``START_PROCESS``\\ , ``CREATE_BUSINESS_ARTIFACT``\\ : completed synchronously. The
          response returns with ``status=COMPLETED`` (or an error status).

        If you want the method to be idempotent, please specify the ``id`` field in the request body.

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_action_create_params: Params identifying the action to invoke. Is
         either a BusinessArtifactActionCreateParams type or a IO[bytes] type. Required.
        :type business_artifact_action_create_params:
         ~kuflow.rest.models.BusinessArtifactActionCreateParams or IO[bytes]
        :return: BusinessArtifactAction
        :rtype: ~kuflow.rest.models.BusinessArtifactAction
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.BusinessArtifactAction] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(business_artifact_action_create_params, (IOBase, bytes)):
            _content = business_artifact_action_create_params
        else:
            _json = self._serialize.body(business_artifact_action_create_params, "BusinessArtifactActionCreateParams")

        _request = build_create_business_artifact_action_request(
            id=id,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200, 201]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifactAction", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @distributed_trace
    def retrieve_business_artifact_action(
        self, id: str, action_id: str, **kwargs: Any
    ) -> _models.BusinessArtifactAction:
        """Get a Business Artifact action by ID.

        Returns a Business Artifact action by its ID.

        :param id: The resource ID. Required.
        :type id: str
        :param action_id: The Business Artifact action ID. Required.
        :type action_id: str
        :return: BusinessArtifactAction
        :rtype: ~kuflow.rest.models.BusinessArtifactAction
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[_models.BusinessArtifactAction] = kwargs.pop("cls", None)

        _request = build_retrieve_business_artifact_action_request(
            id=id,
            action_id=action_id,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifactAction", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @distributed_trace
    def cancel_business_artifact_action(self, id: str, action_id: str, **kwargs: Any) -> _models.BusinessArtifactAction:
        """Cancel a Business Artifact action.

        Cancel a Business Artifact action.

        Only meaningful for asynchronous actions still in ``REQUESTED`` state. The
        action's status is set to ``CANCELED``. If the action is already in a
        terminal state, no transition occurs.

        :param id: The resource ID. Required.
        :type id: str
        :param action_id: The Business Artifact action ID. Required.
        :type action_id: str
        :return: BusinessArtifactAction
        :rtype: ~kuflow.rest.models.BusinessArtifactAction
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[_models.BusinessArtifactAction] = kwargs.pop("cls", None)

        _request = build_cancel_business_artifact_action_request(
            id=id,
            action_id=action_id,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifactAction", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @overload
    def prepare_business_artifact_create_artifact(  # pylint: disable=name-too-long
        self,
        id: str,
        business_artifact_create_artifact_prepare_params: _models.BusinessArtifactCreateArtifactPrepareParams,
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifactCreateArtifactPrepare:
        """Prepare the data for a CREATE_BUSINESS_ARTIFACT action.

        Compute the pre-filled value that a ``CREATE_BUSINESS_ARTIFACT`` action would produce
        for this Business Artifact, without invoking the action or persisting any state.

        Use it to populate a form that the user can review and edit. Once the user submits,
        the filled value is sent back via ``createBusinessArtifactAction`` (in the
        ``createArtifact.value`` field).

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_create_artifact_prepare_params: Params identifying the
         CREATE_BUSINESS_ARTIFACT action to prepare. Required.
        :type business_artifact_create_artifact_prepare_params:
         ~kuflow.rest.models.BusinessArtifactCreateArtifactPrepareParams
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifactCreateArtifactPrepare
        :rtype: ~kuflow.rest.models.BusinessArtifactCreateArtifactPrepare
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @overload
    def prepare_business_artifact_create_artifact(  # pylint: disable=name-too-long
        self,
        id: str,
        business_artifact_create_artifact_prepare_params: IO[bytes],
        *,
        content_type: str = "application/json",
        **kwargs: Any,
    ) -> _models.BusinessArtifactCreateArtifactPrepare:
        """Prepare the data for a CREATE_BUSINESS_ARTIFACT action.

        Compute the pre-filled value that a ``CREATE_BUSINESS_ARTIFACT`` action would produce
        for this Business Artifact, without invoking the action or persisting any state.

        Use it to populate a form that the user can review and edit. Once the user submits,
        the filled value is sent back via ``createBusinessArtifactAction`` (in the
        ``createArtifact.value`` field).

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_create_artifact_prepare_params: Params identifying the
         CREATE_BUSINESS_ARTIFACT action to prepare. Required.
        :type business_artifact_create_artifact_prepare_params: IO[bytes]
        :keyword content_type: Body Parameter content-type. Content type parameter for binary body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: BusinessArtifactCreateArtifactPrepare
        :rtype: ~kuflow.rest.models.BusinessArtifactCreateArtifactPrepare
        :raises ~azure.core.exceptions.HttpResponseError:
        """

    @distributed_trace
    def prepare_business_artifact_create_artifact(  # pylint: disable=name-too-long
        self,
        id: str,
        business_artifact_create_artifact_prepare_params: Union[
            _models.BusinessArtifactCreateArtifactPrepareParams, IO[bytes]
        ],
        **kwargs: Any,
    ) -> _models.BusinessArtifactCreateArtifactPrepare:
        """Prepare the data for a CREATE_BUSINESS_ARTIFACT action.

        Compute the pre-filled value that a ``CREATE_BUSINESS_ARTIFACT`` action would produce
        for this Business Artifact, without invoking the action or persisting any state.

        Use it to populate a form that the user can review and edit. Once the user submits,
        the filled value is sent back via ``createBusinessArtifactAction`` (in the
        ``createArtifact.value`` field).

        :param id: The resource ID. Required.
        :type id: str
        :param business_artifact_create_artifact_prepare_params: Params identifying the
         CREATE_BUSINESS_ARTIFACT action to prepare. Is either a
         BusinessArtifactCreateArtifactPrepareParams type or a IO[bytes] type. Required.
        :type business_artifact_create_artifact_prepare_params:
         ~kuflow.rest.models.BusinessArtifactCreateArtifactPrepareParams or IO[bytes]
        :return: BusinessArtifactCreateArtifactPrepare
        :rtype: ~kuflow.rest.models.BusinessArtifactCreateArtifactPrepare
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: Optional[str] = kwargs.pop("content_type", _headers.pop("Content-Type", None))
        cls: ClsType[_models.BusinessArtifactCreateArtifactPrepare] = kwargs.pop("cls", None)

        content_type = content_type or "application/json"
        _json = None
        _content = None
        if isinstance(business_artifact_create_artifact_prepare_params, (IOBase, bytes)):
            _content = business_artifact_create_artifact_prepare_params
        else:
            _json = self._serialize.body(
                business_artifact_create_artifact_prepare_params, "BusinessArtifactCreateArtifactPrepareParams"
            )

        _request = build_prepare_business_artifact_create_artifact_request(
            id=id,
            content_type=content_type,
            json=_json,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("BusinessArtifactCreateArtifactPrepare", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @distributed_trace
    def upload_business_artifact_document(
        self, id: str, file: IO[bytes], *, file_content_type: str, file_name: str, **kwargs: Any
    ) -> _models.DocumentReference:
        """Upload a temporal document into the business artifact that later on must be linked with a
        business artifact domain resource.

        Upload a temporal document into the business artifact that later on must be linked with a
        business artifact
        domain resource.

        Documents uploaded with this API will be deleted after 2 hours as long as they have not been
        linked to a
        business artifact.

        :param id: The resource ID. Required.
        :type id: str
        :param file: Document to save. Required.
        :type file: IO[bytes]
        :keyword file_content_type: Document content type. Required.
        :paramtype file_content_type: str
        :keyword file_name: Document name. Required.
        :paramtype file_name: str
        :return: DocumentReference
        :rtype: ~kuflow.rest.models.DocumentReference
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
        _params = kwargs.pop("params", {}) or {}

        content_type: str = kwargs.pop("content_type", _headers.pop("Content-Type", "application/octet-stream"))
        cls: ClsType[_models.DocumentReference] = kwargs.pop("cls", None)

        _content = file

        _request = build_upload_business_artifact_document_request(
            id=id,
            file_content_type=file_content_type,
            file_name=file_name,
            content_type=content_type,
            content=_content,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _stream = False
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = self._deserialize("DocumentReference", pipeline_response.http_response)

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore

    @distributed_trace
    def download_business_artifact_document(self, id: str, *, document_uri: str, **kwargs: Any) -> Iterator[bytes]:
        """Download document.

        Given a document uri download a document.

        :param id: The resource ID. Required.
        :type id: str
        :keyword document_uri: Document URI to download. Required.
        :paramtype document_uri: str
        :return: Iterator[bytes]
        :rtype: Iterator[bytes]
        :raises ~azure.core.exceptions.HttpResponseError:
        """
        error_map: MutableMapping = {
            401: ClientAuthenticationError,
            404: ResourceNotFoundError,
            409: ResourceExistsError,
            304: ResourceNotModifiedError,
        }
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls: ClsType[Iterator[bytes]] = kwargs.pop("cls", None)

        _request = build_download_business_artifact_document_request(
            id=id,
            document_uri=document_uri,
            headers=_headers,
            params=_params,
        )
        _request.url = self._client.format_url(_request.url)

        _decompress = kwargs.pop("decompress", True)
        _stream = True
        pipeline_response: PipelineResponse = self._client._pipeline.run(  # pylint: disable=protected-access
            _request, stream=_stream, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            try:
                response.read()  # Load the body in memory and close the socket
            except (StreamConsumedError, StreamClosedError):
                pass
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            error = self._deserialize.failsafe_deserialize(
                _models.DefaultError,
                pipeline_response,
            )
            raise HttpResponseError(response=response, model=error)

        deserialized = response.iter_bytes() if _decompress else response.iter_raw()

        if cls:
            return cls(pipeline_response, deserialized, {})  # type: ignore

        return deserialized  # type: ignore
